In [97]:
from yahoo_fin import stock_info as si
from yahoo_fin.stock_info import get_data
from datetime import date
from datetime import timedelta
import os
from twilio.rest import Client

account_sid = ''
auth_token = ''
client = Client(account_sid, auth_token)

In [98]:
today = date.today()

In [99]:
yesterday = today - timedelta(days = 5)

In [100]:
yesterday

datetime.date(2021, 5, 6)

In [101]:
btc = get_data("btc", start_date=yesterday, end_date=today, index_as_date = True, interval="1d")

In [102]:
btc

,open,high,low,close,adjclose,volume,ticker
2021-05-06,99.099998,99.100998,99.030998,99.074997,99.074997,4300,BTC
2021-05-07,99.150002,99.214996,99.148003,99.148003,99.148003,1800,BTC
2021-05-10,99.199997,99.199997,99.070000,99.110001,99.110001,3000,BTC

In [103]:
si.get_live_price("btc")

99.11000061035156

In [104]:
last = btc['close'].tail(-1).iloc[0]

In [105]:
last

99.14800262451172

In [106]:
btc['close'].tail(1).iloc[0]

99.11000061035156

In [107]:
now = si.get_live_price("btc")

In [108]:
now

99.11000061035156

In [109]:
if now < last:
    message = client.messages \
                .create(
                     body="buy",
                     from_='++15023059946',
                     to='+19178225018'
                 )
    print(message.sid)
else:
    message = client.messages \
                .create(
                     body="sell",
                     from_='++15023059946',
                     to='+19178225018'
                 )
    print(message.sid)

SMad44e064d0c2489cbfe72cb29004f9f8